<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>102379959048-anl16el7jkbdpnltuq4c1tughuuk7dop.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.102379959048-anl16el7jkbdpnltuq4c1tughuuk7dop</string>
	<key>API_KEY</key>
	<string>AIzaSyAL5oJPlJ9o_xkdZ1C48rI7-ca67dnh6So</string>
	<key>GCM_SENDER_ID</key>
	<string>102379959048</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ca.miadapps.findDriver.FindDriver</string>
	<key>PROJECT_ID</key>
	<string>finddriver-8d2d6</string>
	<key>STORAGE_BUCKET</key>
	<string>finddriver-8d2d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:102379959048:ios:94720e220e87f8e0</string>
	<key>DATABASE_URL</key>
	<string>https://finddriver-8d2d6.firebaseio.com</string>
</dict>
</plist>